{% extends 'base.html' %}
{% block title %}Log Out | Eire Settlers{% endblock %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row h-100">
      <div class="col col-lg-6 col-md-8 col-sm-12 mx-auto text-center p-3 pb-5">
        <div class="card border-0">
          <div class="card-body">
            <h1 class="card-title logo-font text-yellow">{% trans "Sign Out" %}</h1>
            <hr>
            <h5 class="card-title logo-font text-yellow">{% trans "Time to log out?" %}</h5>
            <h5 class="card-text">{% trans 'No problem, see you soon!' %}</h5>
            <form class="text-center" method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-one btn-primary text-uppercase" type="submit">{% trans 'Sign Out' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}