@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Titillium+Web:wght@200;300;400&display=swap');

body {
    background-color: #f4f2eb;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-size: 1.3rem !important;
    color: black;
    font-weight: 400;
}

#profile-image {
    max-width: 120px; 
    max-height: 120px; 
    border-radius: 50%;
    overflow: hidden;
}

#nav-profile {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link-right {
    margin-top: 8px;
}

.navbar {
    padding: 0;
    height: 4rem;
}

.nav-bg {
    background-color: #9ca593;
}

.navbar-brand {
    font-family: 'Protest Strike', sans-serif;
    font-size: 1.7rem;
    margin-left: 10px;
}

.navbar-toggler {
    margin-right: 10px;
}

.hover-navlink a:hover {
    color: #fff;
}

.navbar-collapse {
    z-index: 2;
    background-color: #9ca593;
    text-align: center;
}

.footer-bg {
    background-color: #84aeaa;
    padding: 0 10px;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.main-banner {
    height: 80vh;
}

.btn {
    border-radius: 100px;
    color: black;
    margin-top: 5px;
}

.btn-one, .edit-btn {
    position: relative;
    overflow: hidden;
    background-color: #84aeaa;
    border: 2px solid transparent; 
    transition: color 0.3s, background-color 0.3s, border-color 0.3s; 
}

/* Hover effect */
.btn-one:hover, .edit-btn:hover {
    background-color: #9ca593; 
    color: white; 
    border-color: black; 
}

.card-img-top {
    max-width: 100%; /* Set maximum width */
    max-height: 200px; /* Set maximum height */
    object-fit: cover; /* Ensure image covers the entire container */
}

.card-body a {
    color: black;
    text-decoration: none;
}
