@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Titillium+Web:wght@200;300;400&display=swap');

body {
    background-color: #f4f2eb;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-size: 1.3 rem;
    color: black;
    font-weight: 400;
}

#profile-image {
    max-width: 120px; 
    max-height: 120px; 
    border-radius: 50%;
    overflow: hidden;
}

#nav-profile {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link-right {
    margin-top: 8px;
}

.navbar {
    padding: 0;
    height: 4rem;
}

.nav-bg {
    background-color: #9ca593;
}

.navbar-brand {
    font-family: 'Protest Strike', sans-serif;
    font-size: 1.7rem;
}

.footer-bg {
    background-color: #84aeaa;
    padding: 0 10px;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.main-banner {
    height: 90vh;
}

.btn {
    background-color: #84aeaa;
    border-radius: 100px;
    color: black;
    border: 2px solid black;
}

.btn:hover {
    background-color: #9ca593;
    color: black;
    border: 2px solid black;
}

