@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Titillium+Web:wght@200;300;400&display=swap');

body {
    background-color: #f4f2eb;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-size: 1.3rem !important;
    color: black;
    font-weight: 400;
}

#profile-image {
    max-width: 120px; 
    max-height: 120px; 
    border-radius: 50%;
    overflow: hidden;
}

#nav-profile {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link-right {
    margin-top: 8px;
}

.navbar {
    padding: 0;
    height: 4rem;
}

.ml-10px {
    margin-left: 10px;
}

.nav-bg {
    background-color: #9ca593;
}

.navbar-brand {
    font-family: 'Protest Strike', sans-serif;
    font-size: 1.7rem;
    margin-left: 10px;
}

.navbar-toggler {
    margin-right: 10px;
}

.larger-screens {
    margin-top: 100px;
}

.hover-navlink a:hover {
    color: #fff;
}

.navbar-collapse {
    z-index: 2;
    background-color: #9ca593;
    text-align: center;
}

.footer-bg {
    background-color: #84aeaa;
    padding: 0 10px;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.main-banner {
    height: 80vh;
}

.btn {
    border-radius: 100px;
    color: black;
}

.btn-one, .edit-btn {
    position: relative;
    overflow: hidden;
    background-color: #84aeaa;
    border: 2px solid transparent; 
    transition: color 0.3s, background-color 0.3s, border-color 0.3s; 
}

/* Hover effect */
.btn-one:hover, .edit-btn:hover {
    background-color: #9ca593; 
    color: white; 
    border-color: black; 
}

.card-img-top {
    max-width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
}

.card-body a {
    color: black;
    text-decoration: none;
}

.big-text {
    position: absolute;
    font-size: 6vw;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}

.big-text p {
    margin-bottom: -1rem;
}

.right-big-text {
    margin-right: 300px;
}

.left-big-text {
    margin-left: 560px;
}

.text-teal {
    color: #2a4aff !important;
}

.text-teal:hover {
    border-bottom: 1px solid #2a4aff;
}


/* For screens less than 999px wide */
@media screen and (max-width: 999px) {
    .left-big-text, .right-big-text {
        margin: 0;
    }

    .center-mobile {
        text-align: center;
    }

    .main-banner {
        height: 90vh;
    }
}

/* For screens larger than 2400px wide */
@media screen and (min-width: 2401px) {
    .left-big-text, .right-big-text {
        margin: 0;
        font-size: 4vw;
    }

    .center-mobile {
        text-align: center;
    }

    .larger-screens {
        margin-top: 100px;
    }
}
