{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Internal Server Error | EireSettlers {% endblock %}

{% block content %}
<div class="container">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
      <div class="card border-0">
        <div class="card-body">
          <h1 class="card-title logo-font">Internal Server Error</h1>
          <hr>
          <h3>500</h3>
          <h4 class="pt-3">
            <a class="btn btn-one btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}