{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %} Error: 500 | Eire Settlers {% endblock %}

{% block content %}
<div class="container">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
      <div class="card border-0">
        <div class="card-body">
          <h1 class="card-title logo-text">ERROR 500</h1>
          <h2 class="card-title logo-text">Oops, page not found</h2>
          <h5 class="card-text">Looks like you got lost along the way.</h5>
          <h4>
            <a href="{% url 'home' %}" class="sign-up-button btn btn-lg text-uppercase py-2">HOME</a>
        </h4>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}