{% extends 'base.html' %} 
{% block title %} {{ articles.title }} | Eire Settlers {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ articles.title }}</h1>
                <p class="post-subtitle">{{ articles.member }} | {{ articles.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in articles.image_preview.url %}
                <img src="https://i.imgur.com/Li7HO7j.jpg" width="100%">
                {% else %}
                <img src=" {{ articles.image_preview.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ articles.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'articles_endorsement' articles.slug %}" method="POST">
                                {% csrf_token %}
                                {% if endorsed %}
                                <button type="submit" name="button-endorsement" value="{{articles.slug}}" class="btn">
                                    <i class="fa-solid fa-circle-check"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="button-endorsement" value="{{articles.slug}}" class="btn">
                                    <i class="fa-regular fa-circle-check"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="fa-regular fa-circle-check"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ articles.endorsement_amount }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'saved_article' articles.slug %}" method="POST">
                            {% csrf_token %}
                            {% if saved %}
                            <button type="submit" name="button-saved" value="{{articles.slug}}" class="btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="button-saved" value="{{articles.slug}}" class="btn">
                                <i class="fa-regular fa-bookmark"></i>
                            </button>
                            {% endif %}
                        </form>
                        {% else %}
                        <i class="fa-regular fa-bookmark"></i>
                        {% endif %}
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.member }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    {% if user.is_authenticated and request.user == comment.member %}
                    <div class="col-12 p-0 d-flex">
                        <a class="btn btn-xs btn-outline-danger mb-1 text-nowrap" href="{% url 'delete_comment' comment.id %}">Delete</a>
                    </div>
                    <div class="col-12 p-0 d-flex">
                        <a class="btn btn-outline-dark" href="{% url 'edit_comment' comment.id %}">Edit</a>
                    </div>
                    {% else %}
                    <div class="col-12 p-0 d-flex">
                        <a class="btn btn-outline-dark" href="#">Report</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3 ">
        <div class="card-body">
            {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <form method="post">
                {{ comment_form.body.label_tag }}
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success mt-3">Post</button>
            </form>
            {% else %}
            <div class="alert alert-success" role="alert">
                <p>Please <a href="{% url 'account_login' %}">login</a> to leave a comment!</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}