{% extends "base.html" %}
{% block title %} Delete Profile | Eire Settlers {% endblock %}
{% block content %}

{% if user.username == user_info.username %}
<p>Delete your profile?</p>
{% endif %}
<div class="container-main-content p-4">
    <form method="POST"  >
        {% csrf_token %}
        <h1>Delete Account</h1>
        <p>Are you sure you want to permanently delete your account?</p>
        <p>All your current data will be permanently deleted along with your account.</p>
        <p>Are you sure you want to permanently delete {{ user.username }}?</p>
        <a role="button" class="btn btn-sm btn-outline-dark col-5 me-1 me-lg-3 text-nowrap" href="{% url 'member_profile' %}">
            <i class="fa-regular fa-pen-to-square"></i>
             Return
        </a>
        <button type="submit" class="btn btn-outline-danger mt-0 text-nowrap"value="">
            <i class="fa-solid fa-trash-can"></i> 
             Delete
        </button>
    </form>
</div>

{% endblock content %}