{% extends "base.html" %}
{% block title %} Delete Profile | Eire Settlers {% endblock %}
{% block content %}

<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="card auth-card m-4">
        <div class="card-body">
            <h1 class="text-center">Delete Account</h1>
            <hr>
            <p>All your current data will be permanently deleted along with your account.</p>
            <p>Are you sure you want to permanently delete your account?</p>
            <div class="row d-flex flex-nowrap">
                <form class="d-flex justify-content-center" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger" value="">Delete</button>
                    <a class="btn ml-10px btn-outline-dark" href="javascript:history.go(-1)">Cancel</a>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endblock content %}