{% extends "base.html" %}
{% block title %}Delete Article | {{ articles.title }}{% endblock %}
{% block content %}

<p>Delete your article?</p>
<div class="container-main-content p-4">
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger mt-0 text-nowrap" value="">
            <i class="fa-solid fa-trash-can"></i> 
             Delete
        </button>
        <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>

{% endblock content %}