{% extends 'base.html' %}
{% block title %} Edit Profile | Eire Settlers {% endblock %}
{% block content %}

<div class="container d-flex justify-content-center">
    <div class="col-md-6 card m-4 gray">
        <div class="card-body">
            <div class="row">
                <h1 class="text-center">Edit Profile</h1>
                <hr>
            </div>
            <div class="col-12">
                <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-outline mt-3">
                            <label class="col-sm-2 col-form-label text-nowrap">{{ field.label }}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                    {% if request.resolver_match.url_name == 'update_profile' %}
                    <button type="submit" class="btn btn-outline-success mt-4 mb-4">Save</button>
                    <a class="btn btn-outline-dark" href="{% url 'member_profile' %}">Cancel</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}